*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
/**debug**/
.debug .main-header{
background-color: orange;
height: 30px;
}
.nav-debug{
border:2px solid black
}
header{
background-color: aqua;
height:50px;
}

.debug .contenitorevuoto{
height: 300px;
background-color:#010b65;
}
.debug .contenitore-interno{
height: 250px;
background-color: #ee82ee;
}
.debug .containersezione{
height: 400px;
background-color: white;
}
.debug .containersx{
height: 300px;
background-color: blue;
}
.debug .containerdx{
height: 300px;
background-color: #ee82ee;;
}
.debug #coloresfondo{
background-color:#d3d3d3 ;
}
.debug .containergrande{
height: 700px;
background-color: green;
}

.debug .containersezionegrande{
height:800px ;
}
/**fine debug**/

/**header**/
header{
display: flex;
justify-content: center;
}
.main-header{
display: flex;
justify-content: space-between;
width: 70%;
}
.logo{
width: 250px;
}

.login{
width: 250px;
text-align: right;


}
.link{
flex-grow: 1;
text-align: center;
flex-shrink: 0;
}
/**fine header**/
/**prima sezione**/
.contenitorevuoto{
width: 100%;
display: flex;
align-items: center;
justify-content: center;

}
.contenitore-interno{
width: 50%;
}
/**fine prima sezione/**
/**inizio seconda sezione**/

.containersezione{
display: flex;
justify-content: center;
align-items: center;
}

.containersx{
width:50%;

}

.containerdx{
width: 30%;
}
/**fine seconda sezione**/
/**inizio terza sezione**/
.order{
order: -1;
}
/**fine terza sezione**/
/**inizio quarta sezione**/
.containergrande{
width: 80%;
}

.containersezionegrande{
display: flex;
justify-content: center;
align-items: center;
}
/**fine quarta sezione**/
/**inizio quinta sezione**/
