*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
/**debug**/
.main-header.debug{
background-color: orange;
height: 30px;
}
.nav-debug{
border:2px solid black
}
header{
background-color: aqua;
height:50px;
}
.contenitorevuoto.debug{
height: 300px;
background-color: blue;
}
.contenitorevuoto.debug{
height: 300px;
background-color: blue;
}
.contenitore-interno.debug{
height: 250px;
background-color: #ee82ee;
}
.containersezione.debug{
height: 400px;
background-color: white;
}
.containersx.debug{
height: 300px;
background-color: red;
}
.containerdx.debug{
height: 300px;
background-color: #ee82ee;;
}
/**fine debug**/

/**header**/
header{
display: flex;
justify-content: center;
}
.main-header{
display: flex;
justify-content: space-between;
width: 70%;
}
.logo{
width: 250px;
}

.login{
width: 250px;
text-align: right;


}
.link{
flex-grow: 1;
text-align: center;
flex-shrink: 0;
}
/**fine header**/
/**prima sezione**/
.contenitorevuoto{
width: 100%;
display: flex;
align-items: center;
justify-content: center;

}
.contenitore-interno{
width: 50%;
}
/**fine prima sezione/**
/**inizio seconda sezione**/

.containersezione{
display: flex;
justify-content: center;
align-items: center;
}

.containersx{
width:50%;
}

.containerdx{
width: 30%;
}
/**fine seconda sezione**/
/**inizio terza sezione**/
